* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(46, 46, 46);
    padding: 10px;
  }

.title, .inner-title {
    color: white;
    text-align: center;
}

.inner-title {
    padding-bottom: 10px;
}

hr {
    margin-bottom: 10px;
}

.dim-A {
    color: white;
}

.matrixA {
    margin-left: 10px;
    width: 50px;
    border: 2px solid;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

span {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

#set-matrixA-dim, #set-matrixB-dim {
    text-align: center;
    padding-bottom: 10px;
}

.inner-canvas {
    border: 2px rgb(255, 255, 255);
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 400px;
    width: 100%;
    background: rgb(46, 45, 45);
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgb(19, 19, 19);
}

.set-value {
    color: white;
    margin-top: 10px;
    padding: 5px 5px 5px 10px;
}

.submit-dim {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#set-dim {
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    background: rgb(46, 45, 45);
}

#set-dim:hover {
    background: rgb(87, 86, 86);
    box-shadow: 0px 0px 10px 2px rgb(19, 19, 19);;
}

/* -------------Modal Window------------- */

/* The Modal (background) */
.window-bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.window-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}
  
  /* Modal Content */
.window {
    border: 2px rgb(255, 255, 255);
    margin: auto 5px;
    min-height: auto;
    min-width: 200px;
    max-width: fit-content;
    max-height: fit-content;
    background: rgb(46, 45, 45);
    border-radius: 10px;
    border-style: solid;
    padding: 0px 10px 10px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
  
  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 18px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #cecccc;
    text-decoration: none;
    cursor: pointer;
}
  
.window-header {
    display: inline;
    text-align: center;
    padding: 0px;
    color: white;
    margin: auto;
    width: fit-content;
}

.window-header p{
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
}
  
.window-content {
    display: block;
    text-align: center;
    color: white;
    word-wrap: break-word;
}
  
  /* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 50%; opacity: 1}
}
  
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 50%; opacity: 1}
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
  
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/* --------------table insert------------- */

#tableA, #tableB {
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    background-color: transparent;
}